.details-container {
	flex: 1;
}

a {
	text-decoration: none;
	color: rgb(0, 119, 255);
}

.mr1 {
	margin-right: .6rem;
}


.header-secondary .header-title--secondary {
	margin-bottom: 20px;
	font-size: 70px;
	max-width: 100%;
  }