html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: 700;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

html {
	font: 112.5%/1.45em georgia, serif;
	box-sizing: border-box;
	overflow-y: scroll;
}

* {
	box-sizing: inherit;
}

*:before {
	box-sizing: inherit;
}

*:after {
	box-sizing: inherit;
}

body {
	color: hsla(0, 0%, 0%, 0.8);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

h1 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 2.25rem;
	line-height: 1.1;
}

h2 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.62671rem;
	line-height: 1.1;
}

h3 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.38316rem;
	line-height: 1.1;
}

h4 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.1;
}

h5 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 0.85028rem;
	line-height: 1.1;
}

h6 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 0.78405rem;
	line-height: 1.1;
}

hgroup {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

ul {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	list-style-position: outside;
	list-style-image: none;
}

ol {
	margin-left: 1.45rem;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	list-style-position: outside;
	list-style-image: none;
}

dl {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

dd {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

figure {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

pre {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	font-size: 0.85rem;
	line-height: 1.42;
	background: hsla(0, 0%, 0%, 0.04);
	border-radius: 3px;
	overflow: auto;
	word-wrap: normal;
	padding: 1.45rem;
}

table {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	font-size: 1rem;
	line-height: 1.45rem;
	border-collapse: collapse;
	width: 100%;
}

fieldset {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

blockquote {
	margin-left: 1.45rem;
	margin-right: 1.45rem;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

form {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

noscript {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

iframe {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: calc(1.45rem - 1px);
	background: hsla(0, 0%, 0%, 0.2);
	border: none;
	height: 1px;
}

address {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
}

b {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

dt {
	font-weight: bold;
}

th {
	font-weight: bold;
}

li {
	margin-bottom: calc(1.45rem / 2);
}

ol li {
	padding-left: 0;
}

ul li {
	padding-left: 0;
}

li>ol {
	margin-left: 1.45rem;
	margin-bottom: calc(1.45rem / 2);
	margin-top: calc(1.45rem / 2);
}

li>ul {
	margin-left: 1.45rem;
	margin-bottom: calc(1.45rem / 2);
	margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
	margin-bottom: 0;
}

li *:last-child {
	margin-bottom: 0;
}

p *:last-child {
	margin-bottom: 0;
}

li>p {
	margin-bottom: calc(1.45rem / 2);
}

code {
	font-size: 0.85rem;
	line-height: 1.45rem;
}

kbd {
	font-size: 0.85rem;
	line-height: 1.45rem;
}

samp {
	font-size: 0.85rem;
	line-height: 1.45rem;
}

abbr {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
}

acronym {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
}

abbr[title] {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
	text-decoration: none;
}

thead {
	text-align: left;
}

td,
th {
	text-align: left;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
	font-feature-settings: "tnum";
	-moz-font-feature-settings: "tnum";
	-ms-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	padding-left: 0.96667rem;
	padding-right: 0.96667rem;
	padding-top: 0.725rem;
	padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

tt,
code {
	background-color: hsla(0, 0%, 0%, 0.04);
	border-radius: 3px;
	font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

pre code {
	background: none;
	line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
	letter-spacing: -0.2em;
	content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
	content: "";
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 100%;
	}
	h1 {
		font-size: 1.5em;
	}
}

body {
	font-size: 16px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// Config vars
$kaldi-red: #FD461E;
$kaldi-red-invert: #fff;
$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
a,
Link {
	display: inline-block;
	font-family: "ProximaNova-Semibold";
	font-size: 16px;
	color: #fff;
	letter-spacing: 1.2px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all .3s ease;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

.content .taglist {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	li {
		padding: 0 2rem 1rem 0;
		margin-bottom: 1.5rem;
		margin-top: 0;
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

/** * Navigation */

@keyframes cardFadeIn {
	0% {
		opacity: 0;
		transform: translateY(40%)
	}
	40% {
		opacity: .1
	}
	to {
		opacity: 1;
		transform: translateY(0)
	}
}

.u-marginBottomSmall {
	margin-bottom: 20px;
}

hr {
	margin: 0;
	border: none;
	height: 1px;
	background-color: #fff;
}

.arrowCta-wrapper {
	text-align: left;
}

.arrowCta-element {
	font-family: "ProximaNova-Regular";
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: .5px;
	color: #fff;
	margin-left: 30px;
	position: relative;
	cursor: pointer;
	border: none;
	&:before {
		content: "";
		background-image: url(../assets/img/arrow.svg);
		width: 16px;
		height: 26px;
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
	}
}

// Helper Classes
.full-width-image-container {
	width: 100vw;
	height: 400px;
	position: relative;
	left: 50%;
	right: 50%;
	margin: 5em -50vw;
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), #000);
		position: relative;
		z-index: 3;
		&:after {
			position: absolute;
			opacity: 0;
			animation: cardFadeIn;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(0deg, #000, transparent), url('../assets/img/slash.png') !important;
			background-position: 100% 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			animation-name: fadein;
			animation-fill-mode: forwards;
			animation-duration: 2s;
			animation-delay: 1.8s;
		}
	}
}

.margin-top-0 {
	margin-top: 0 !important
}

// Scroll Magic
@media (max-width: 1024px) {
	.primaryHorizontal-cardsWrapper {
		z-index: 2;
	}
}

.primaryHorizontal-cardsWrapper {
	z-index: 4; // &:before {
	// 	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), #000);
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: 2;
	// }
}

// .primaryHorizontal-wrapper {
// 	position: relative;
// 	background-position: 50%;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	&:first-child,
// 	&:nth-of-type(1),
// 	&:nth-of-type(2) {
// 		&:after {
// 			position: absolute;
// 			opacity: 0;
// 			content: "";
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			left: 0;
// 			background-image: url('../assets/img/slash.png');
// 			background-position: 100% 0;
// 			background-repeat: no-repeat;
// 			background-size: cover;
// 			background-attachment: fixed;
// 			animation-name: fadein;
// 			animation-fill-mode: forwards;
// 			animation-duration: 5000s;
// 			animation-delay: 2s;
// 			z-index: 10;
// 		}
// 	}
// }
// @media (max-width: 1024px) {
// 	.primaryHorizontal-wrapper {
// 		text-align: center;
// 	}
// }
.secondaryHorizontalCard-wrapper {
	margin-bottom: 100px
}

@media (max-width:1024px) {
	.secondaryHorizontalCard-wrapper {
		margin-bottom: 60px
	}
}

@media (max-width:767px) {
	.secondaryHorizontalCard-wrapper {
		margin-bottom: 40px
	}
}

.secondaryHorizontalCard-innerWrapper {
	opacity: 1;
	transform: translateY(40%);
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative
}

.secondaryHorizontalCard-wrapper--fadeIn .secondaryHorizontalCard-innerWrapper {
	opacity: 1;
	animation-name: cardFadeIn;
	animation-fill-mode: forwards;
	animation-duration: 1s
}

@media (max-width:1024px) {
	.secondaryHorizontalCard-innerWrapper {
		opacity: 1;
		transform: translateY(0);
		padding-top: 80px;
		padding-bottom: 80px
	}
}

@media (max-width:767px) {
	.secondaryHorizontalCard-innerWrapper {
		padding-top: 50px;
		padding-bottom: 260px
	}
}

.secondaryHorizontalCard-wrapper:nth-child(2n) .secondaryHorizontalCard-contentWrapper {
	margin-left: auto
}

.secondaryHorizontalCard-wrapper:nth-child(2n) .secondaryHorizontalCard-background {
	right: auto;
	left: 0;
	width: 55%;
	background-position: 100% 100%
}

@media (max-width:767px) {
	.secondaryHorizontalCard-wrapper:nth-child(2n) .secondaryHorizontalCard-background {
		height: 240px;
		width: 100%;
		top: auto
	}
}

.secondaryHorizontalCard-contentWrapper {
	max-width: 40%;
	position: relative;
	z-index: 2
}

@media (max-width:767px) {
	.secondaryHorizontalCard-contentWrapper {
		max-width: 400px;
		text-align: center;
		margin-left: auto;
		margin-right: auto
	}
}

.secondaryHorizontalCard-subtitle {
	padding-bottom: 15px
}

.secondaryHorizontalCard-title {
	padding-bottom: 20px;
	margin-bottom: 25px;
	position: relative
}

.secondaryHorizontalCard-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 1px;
	background-color: #000
}

@media (max-width:767px) {
	.secondaryHorizontalCard-title:after {
		left: 50%;
		transform: translateX(-50%)
	}
}

@media (max-width:1024px) {
	.secondaryHorizontalCard-title {
		font-size: 25px
	}
}

@media (max-width:767px) {
	.secondaryHorizontalCard-description {
		font-size: 16px
	}
}

.secondaryHorizontalCard-background {
	background-position: 0 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60%
}

@media (max-width:767px) {
	.secondaryHorizontalCard-background {
		height: 240px;
		width: 100%;
		top: auto;
		background-position: 50%
	}
}

.footer {
	background-image: url('../assets/img/dallas-nature/Dallas-Skyline-at-Sunrise-with-Reflection-2016-1810.jpg'); // background-image: url('../assets/img/dallas-nature/dallas-skyline-trinity-dusk.jpg');
	// background-image: url('../assets/img/dallas-nature/dallas-skyline-trinity-close.jpg');
	// background-image: url('../assets/img/dallas-nature/dallas-trinity-sunset.jpg');
	// background-image: url('../assets/img/dallas-nature/dallas-skyline-trinity-dusk.jpg');
	background-color: #fff;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 90px;
	position: relative;
	z-index: 5
}

.footer.footer--secondary {
	opacity: 0.5;
	background-size: cover 90%;
}

@media (max-width:767px) {
	.footer {
		background-size: 140%;
		padding-bottom: 20px
	}
	.footer.footer--secondary {
		background-size: auto 90%
	}
}

.footer-contentWrapper {
	padding-top: 150px; // padding-bottom: 150px;
	max-width: 530px;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

.footer-inspirational {
	color: #fff;
}

@media (max-width:767px) {
	.footer-contentWrapper {
		padding-top: 50px;
		padding-bottom: 50px
	}
}

.footer-subtitle {
	color: #fff;
	margin-bottom: 25px
}

.footer-logo {
	padding-bottom: 35px;
	margin-bottom: 35px;
	position: relative
}

.footer-logo:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 1px;
	background-color: #000;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0
}

@media (max-width:767px) {
	.footer-logo {
		padding-bottom: 20px;
		margin-bottom: 30px
	}
}

.footer-description {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 60px
}

@media (max-width:767px) {
	.footer-description {
		color: #fff;
		margin-bottom: 30px
	}
}

.btn {
	background-color: #3138cf;
	font-family: SharpSansDispNo1-Bold;
	font-size: 16px;
	letter-spacing: 1.1px;
	text-align: center;
	color: #fff;
	padding: 20px 30px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
	display: inline-block
}

.btn:focus,
.btn:hover {
	background-color: #273691;
	border: none
}

.btn--secondary {
	border: 1px solid #fff;
	background-color: transparent
}

.btn--secondary:focus,
.btn--secondary:hover {
	border: 1px solid #273691
}

.btn--full {
	width: 100%
}

.footerNav-wrapper {
	position: relative
}

@media (max-width:767px) {
	.footerNav-wrapper {
		padding-top: 40px
	}
	.footerNav-wrapper .grid-1of1--ipad:nth-child(2) {
		height: 0
	}
}

.footerNav-text {
	font-family: SharpSansDispNo1-Bold;
	font-size: 16px;
	color: #fff;
	display: inline-block
}

@media (max-width:767px) {
	.footerNav-text {
		font-size: 10px
	}
}

.footerNav-text--secondary {
	font-family: ProximaNova-Regular;
	letter-spacing: 0
}

.footerNav-logo {
	width: 60px
}

@media (max-width:767px) {
	.footerNav-logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%)
	}
}

.footerNav-logo-anchor,
.footerNav-logo-anchor:focus,
.footerNav-logo-anchor:hover {
	border: none
}

h1 {
	font-family: Caslon224Std-Bold;
	font-size: 130px
}

@media (max-width:1366px) {
	h1 {
		font-size: 100px
	}
}

@media (max-width:1024px) {
	h1 {
		font-size: 75px
	}
}

@media (max-width:767px) {
	h1 {
		font-size: 36px
	}
}

h2 {
	font-family: Caslon224Std-Bold;
	font-size: 60px;
	line-height: 1.1
}

@media (max-width:1024px) {
	h2 {
		font-size: 60px
	}
}

@media (max-width:767px) {
	h2 {
		font-size: 30px
	}
}

h3 {
	font-family: Caslon224Std-Bold;
	font-size: 64px
}

@media (max-width:1024px) {
	h3 {
		font-size: 40px
	}
}

@media (max-width:767px) {
	h3 {
		font-size: 25px
	}
}

h4 {
	font-family: Caslon224Std-Bold;
	font-size: 40px;
	line-height: 1.3
}

@media (max-width:1024px) {
	h4 {
		font-size: 35px
	}
}

@media (max-width:767px) {
	h4 {
		font-size: 25px
	}
}

h5 {
	font-family: ProximaNova-Semibold;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: .5px
}

@media (max-width:1024px) {
	h5 {
		font-size: 15px
	}
}

@media (max-width:767px) {
	h5 {
		font-size: 16px
	}
}

h6 {
	font-family: SharpSansDispNo1-Bold;
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase
}

@media (max-width:1024px) {
	h6 {
		font-size: 16px
	}
}

@media (max-width:767px) {
	h6 {
		font-size: 12px
	}
}

a {
	display: inline-block;
	font-family: ProximaNova-Semibold;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1.2px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all .3s ease
}

a:focus,
a:hover {
	border-bottom: 1px solid #fff
}

p {
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1.85;
	color: #5b5b5b
}

@media (max-width:1024px) {
	p {
		font-size: 16px
	}
}

@media (max-width:767px) {
	p {
		font-size: 16px
	}
}

hr {
	margin: 0;
	border: none;
	height: 1px;
	background-color: #fff
}

em {
	font-family: Caslon224Std-BoldItalic !important
}

// .header {
// 	background: transparent;
//   width: 100%;
//   z-index: 1;
// }
// @media (max-width:767px) {
// 	.header {
// 		padding-top: 15px
// 	}
// }
// .header.header-secondary .header-wrapper {
// 	padding-top: 150px
// }
// @media (max-width:767px) {
// 	.header.header-secondary .header-wrapper {
// 		padding-top: 80px
// 	}
// }
// .header:before {
// 	position: absolute;
// 	opacity: 0;
// 	content: "";
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	background-image: url('../assets/img/slash.png');
// 	background-position: 100% 0;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-attachment: fixed;
// 	animation-name: fadein;
// 	animation-fill-mode: forwards;
// 	animation-duration: 2s;
// 	animation-delay: 1.8s;
// 	z-index: 1;
// }
// @media (max-width:1024px) {
// 	.header:after {
// 		background-position: 60% 0;
// 		background-attachment: scroll;
// 	}
// }
// .header--alreadyLoadedOnce:after {
// 	animation-delay: 1.5s
// }
// .header--alreadyLoadedOnce .header-title {
// 	animation-delay: .3s
// }
// .header--alreadyLoadedOnce .header-subheading {
// 	animation-delay: .7s
// }
// .header--absoluteSlash:after {
// 	background-attachment: scroll
// }
// .header-wrapper {
// 	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), #000);
// 	position: relative;
// 	z-index: 3
// }
// @media (max-width:767px) {
// 	.header-wrapper hr {
// 		display: none
// 	}
// }
// .header-flexWrapper {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: flex-end;
// 	min-height: 100vh
// }
// .header-title {
// 	color: #fff;
// 	opacity: 0;
// 	animation-name: fadein;
// 	animation-fill-mode: forwards;
// 	animation-duration: 2.5s;
// 	animation-delay: 1.3s;
// 	font-size: 115px
// }
// @media (max-width:1366px) {
// 	.header-title {
// 		font-size: 100px;
// 		max-width: 80%
// 	}
// }
// @media (max-width:1024px) {
// 	.header-title {
// 		font-size: 80px
// 	}
// }
// @media (max-width:767px) {
// 	.header-title {
// 		font-size: 38px;
// 		max-width: 400px;
// 		margin-left: auto;
// 		margin-right: auto
// 	}
// }
// .header-subheading {
// 	font-family: ProximaNova-Regular;
// 	color: #fff;
// 	opacity: 0;
// 	margin-bottom: 60px;
// 	max-width: 750px;
// 	animation-name: fadein;
// 	animation-fill-mode: forwards;
// 	animation-duration: 2.5s;
// 	animation-delay: 1.6s
// }
// @media (max-width:767px) {
// 	.header-subheading {
// 		margin-bottom: 0;
// 		font-size: 16px
// 	}
// }
// .header-secondary .header-wrapper {
// 	padding-bottom: 70px;
// 	min-height: auto
// }
// @media (max-width:767px) {
// 	.header-secondary .header-wrapper {
// 		padding-bottom: 60px
// 	}
// }
// .header-secondary .header-navWrapper {
// 	margin-bottom: 40px
// }
// @media (max-width:767px) {
// 	.header-secondary .header-navWrapper {
// 		margin-bottom: 40px
// 	}
// }
// .header-secondary .header-title--secondary {
// 	margin-bottom: 20px;
// 	font-size: 70px;
// 	max-width: 100%
// }
// .header-secondary hr {
// 	margin-bottom: 0
// }
// @media (max-width:1024px) {
// 	.header-secondary {
// 		font-size: 60px
// 	}
// }
// @media (max-width:767px) {
// 	.header-secondary .header-title {
// 		font-size: 30px
// 	}
// 	.header-secondary .header-subheading,
// 	.header-secondary .header-title {
// 		max-width: 400px;
// 		margin-left: auto;
// 		margin-right: auto
// 	}
// }
// .header-separator {
// 	width: 100%;
// 	padding-bottom: 30px
// }
// @media (max-width:767px) {
// 	.header-separator {
// 		padding-bottom: 65px
// 	}
// }
.arrowCta-wrapper {
	text-align: left
}

@media (max-width:767px) {
	.arrowCta-wrapper {
		text-align: center
	}
}

.arrowCta-element {
	font-family: ProximaNova-Regular;
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: .5px;
	color: #fff;
	margin-left: 30px;
	position: relative;
	cursor: pointer;
	border: none
}

.arrowCta-element:focus,
.arrowCta-element:hover {
	border: none
}

.arrowCta-element:focus:before,
.arrowCta-element:hover:before {
	animation-name: slideDownDesktop;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: .5s
}

.arrowCta-element:before {
	content: "";
	background-image: url('../assets/img/arrow.svg');
	width: 16px;
	height: 26px;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%)
}

@media (max-width:767px) {
	.arrowCta-element {
		font-size: 16px;
		margin: 0
	}
	.arrowCta-element:before {
		top: auto;
		left: 50%;
		transform: translate(-50%, 100%);
		animation-name: slideDownMobile !important;
	}
}

@keyframes slideDownDesktop {
	0% {
		transform: translateY(-50%)
	}
	to {
		transform: translateY(-35%)
	}
}

@keyframes slideDownMobile {
	0% {
		transform: translate(-50%, 100%)
	}
	to {
		transform: translate(-50%, 85%)
	}
}

.nav-sticky {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 6;
	padding-top: 30px
}

.nav-sticky--fixed {
	padding-top: 0;
	position: fixed;
	height: auto;
	width: 100%;
	background: #000;
	z-index: 6;
	animation-name: slideNavDown;
	animation-fill-mode: forwards;
	animation-duration: .5s
}

@media (max-width:767px) {
	.nav-sticky {
		padding-top: 0;
		position: fixed;
		top: 0;
		z-index: 99
	}
}

@keyframes slideNavDown {
	0% {
		top: -100%
	}
	to {
		top: 0
	}
}

.nav.js-navOpen {
	opacity: 1;
	position: fixed;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.nav-wrapper {
	padding: 15px 0
}

@media (max-width:767px) {
	.nav-wrapper {
		background-color: #000;
		padding: 15px 0
	}
}

.nav-logo-anchor,
.nav-logo-anchor:focus,
.nav-logo-anchor:hover {
	border: none
}

.nav-logo {
	width: 300px;
}

.nav-logo--fixed {
	width: 55px
}

@media (max-width:767px) {
	.nav-logo {
		width: 267px;
	}
}

@media (max-width:767px) {
	.nav-mobileWrapper {
		opacity: 0;
		position: absolute;
		z-index: -1
	}
}

.nav-mobileWrapper.js-navOpen {
	opacity: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1; // background-image: url("../img/Dallas-skyline_093927.jpg");
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: slidein;
	animation-fill-mode: forwards;
	animation-duration: .75s
}

.nav-mobileWrapper.js-navOpen .nav-itemsWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%)
}

.nav-mobileWrapper.js-navOpen .nav-item {
	color: #fff;
	display: block;
	margin-bottom: 40px;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto
}

.nav-mobileWrapper.js-navOpen a {
	letter-spacing: 2.5px
}

@keyframes slidein {
	0% {
		opacity: .3;
		transform: translateY(-100%)
	}
	to {
		opacity: 1;
		transform: translateY(0)
	}
}

.nav-item {
	display: inline-block;
	color: #fff;
	margin-right: 35px
}

.nav-item a {
	font-family: SharpSansDispNo1-Bold
}

.nav-item--fixed a {
	font-size: 1rem
}

.nav-item .active {
	border: none;
	cursor: default
}

.nav-item .active:focus,
.nav-item .active:hover {
	border: none
}

@media (max-width:767px) {
	.nav-item a {
		font-size: 20px
	}
}

.nav-item:last-child {
	margin-right: 0
}

.nav-item--current {
	color: #1ee592;
	border: none;
	cursor: default
}

.nav-item--current:focus,
.nav-item--current:hover {
	border: none
}

.hamburger {
	display: none;
	width: 22px;
	height: 16px;
	cursor: pointer;
	position: relative
}

@media (max-width:767px) {
	.hamburger {
		display: inline-block
	}
}

.hamburger.js-navOpen .hamburger-patty:first-child {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%) rotate(45deg);
	animation-name: topPatty;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	opacity: 0
}

.hamburger.js-navOpen .hamburger-patty:nth-child(2) {
	opacity: 0
}

.hamburger.js-navOpen .hamburger-patty:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	transform: translate(-50%, -50%) rotate(-45deg);
	animation-name: bottomPatty;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	opacity: 0
}

@keyframes topPatty {
	0% {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	25% {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	75% {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	to {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 0;
		transform: translate(-50%, -50%) rotate(45deg);
		opacity: 1
	}
}

@keyframes bottomPatty {
	0% {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	25% {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	75% {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		transform: translate(-50%);
		opacity: 1
	}
	to {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 0;
		transform: translate(-50%, -50%) rotate(-45deg);
		opacity: 1
	}
}

.hamburger-patty {
	height: 2px;
	background-color: #fff;
	margin-bottom: 5px;
	width: 22px
}

.hamburger-patty:nth-child(2) {
	width: 13px
}

.hamburger-patty:last-child {
	margin-bottom: 0
}

.primaryVerticalCard-wrapper {
	width: 320px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block
}

@media (max-width:600px) {
	.primaryVerticalCard-wrapper {
		text-align: center
	}
}

.primaryVerticalCard-image {
	height: 250px;
	background-image: url("http://d33wubrfki0l68.cloudfront.net/dfbdf61aabc77eba1299e15ed0792158901e8420/66fde/images/team-bg-image.jpg");
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 20px
}

.primaryVerticalCard-linkedin {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 30px;
	border: none
}

.primaryVerticalCard-linkedin:hover {
	border: none
}

.primaryVerticalCard-name {
	display: block;
	font-size: 16px;
	line-height: 1.1;
	color: #3f3f3f;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 5px
}

.primaryVerticalCard-title {
	display: inline-block;
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1.3;
	color: #3f3f3f
}

.primarySquareCard-wrapper {
	height: 220px;
	width: 230px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 70%;
	position: relative;
	transition: all .5s ease;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	background-color: #fff
}

.primarySquareCard-wrapper.primarySquareCard-wrapper--active,
.primarySquareCard-wrapper:focus,
.primarySquareCard-wrapper:hover {
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .15);
	transform: translateY(-2px);
	z-index: 2
}

.primarySquareCard-wrapper.primarySquareCard-wrapper--active:after,
.primarySquareCard-wrapper:focus:after,
.primarySquareCard-wrapper:hover:after {
	opacity: 1
}

.primarySquareCard-wrapper:after {
	opacity: 0;
	content: "";
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%);
	background-image: url(../assets/img/arrow-blue.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 100%;
	height: 20px;
	width: 16px;
	transition: all .5s ease;
	animation-name: arrowUpAndDown;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: .5s
}

@media (max-width:600px) {
	.primarySquareCard-wrapper:after {
		display: none
	}
}

@media (max-width:600px) {
	.primarySquareCard-wrapper {
		height: 150px;
		width: 160px;
		background-size: 80%
	}
}

@media (max-width:480px) {
	.primarySquareCard-wrapper {
		height: 130px;
		width: 100%
	}
}

@keyframes arrowUpAndDown {
	0% {
		transform: translate(-50%, -50%)
	}
	to {
		transform: translate(-50%, -35%)
	}
}

.terciaryHorizontalCard-wrapper {
	background-image: url("http://d33wubrfki0l68.cloudfront.net/3c797d216beb445193a5853f51d17a65f729a4e5/629cf/images/terciary-horizontal-card-bg.png"), linear-gradient(270deg, #3138cf, #273691);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	transform: translateY(-40px);
	position: relative;
	z-index: 1;
	padding-top: 80px;
	padding-bottom: 80px
}

@media (max-width:600px) {
	.terciaryHorizontalCard-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		transform: translateY(0);
		margin-bottom: 0;
		padding-top: 55px
	}
}

.example-enter {
	opacity: .01;
	transform: translateY(-80px)
}

@media (max-width:600px) {
	.example-enter {
		transform: translateX(-100%);
		padding-top: 55px;
		max-height: none
	}
}

.example-enter.example-enter-active {
	transition: opacity .5s ease, transform .5s ease;
	opacity: 1;
	transform: translateY(-40px)
}

@media (max-width:600px) {
	.example-enter.example-enter-active {
		transition: opacity .3s ease, transform .3s ease;
		transform: translateX(0);
		opacity: 1;
		padding-top: 55px;
		padding-bottom: 0;
		max-height: none
	}
}

.example-leave {
	opacity: 1;
	transform: translateY(-40px)
}

@media (max-width:600px) {
	.example-leave {
		padding-top: 55px;
		padding-bottom: 0;
		max-height: none
	}
}

.example-leave.example-leave-active {
	transition: opacity .3s ease, transform .3s ease;
	opacity: .01;
	transform: translateY(-80px)
}

@media (max-width:600px) {
	.example-leave.example-leave-active {
		transition: opacity .5s ease, transform .5s ease;
		transform: translate(-100%);
		padding-top: 55px;
		max-height: none
	}
}

.terciaryHorizontalCard-closeMenu {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	transform: translateY(-100%);
	right: 0;
	background-image: url("http://d33wubrfki0l68.cloudfront.net/9777213b0cdba54794717314f29f8dc79dd69df8/4f952/images/letter-x.svg");
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer
}

@media (max-width:600px) {
	.terciaryHorizontalCard-closeMenu {
		left: 90%
	}
}

.terciaryHorizontalCard-title {
	font-family: SharpSansDispNo1-Bold;
	display: inline-block;
	color: #fff;
	letter-spacing: 1.5px;
	font-size: 30px;
	margin-right: 20px;
	margin-bottom: 5px
}

@media (max-width:600px) {
	.terciaryHorizontalCard-title {
		display: block;
		margin-bottom: 15px;
		margin-right: 0
	}
}

.terciaryHorizontalCard-link {
	display: inline-block;
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1;
	letter-spacing: .6px
}

.terciaryHorizontalCard-contentWrapper>* {
	font-family: ProximaNova-Regular;
	color: #fff;
	line-height: 1.5;
	font-size: 16px;
	margin-bottom: 20px
}

.terciaryHorizontalCard-contentWrapper>:last-child {
	margin-bottom: 0
}

@media (max-width:600px) {
	.terciaryHorizontalCard-contentWrapper {
		margin-bottom: 40px
	}
}

.terciaryHorizontalCard-listTitle {
	font-family: ProximaNova-Regular;
	display: block;
	opacity: .5;
	font-size: 16px;
	letter-spacing: 1.8px;
	color: #fff;
	margin-top: 16px;
	margin-bottom: 16px;
	text-transform: uppercase
}

@media (max-width:767px) {
	.terciaryHorizontalCard-listTitle {
		margin-top: 8px
	}
}

.terciaryHorizontalCard-listItem {
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1.8;
	color: #fff
}

.primaryHorizontal-wrapper {
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	&:before {
		background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), #000);
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2
	}
	&:after {
		content: "";
		background-image: url(../assets/img/slash.png);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background-size: cover;
		background-position: 100% 0;
		background-repeat: no-repeat
	}
}

@media (max-width:1024px) {
	.primaryHorizontal-wrapper {
		text-align: center
	}
}

@media (max-width:767px) {
	.primaryHorizontal-wrapper hr {
		display: none
	}
}

@media (max-width:1024px) {
	.primaryHorizontal-cardsWrapper {
		z-index: 2
	}
}

@media (max-width:1024px) {
	.primaryHorizontal-cardsWrapper .primaryHorizontal-wrapper-slash:after {
		position: fixed;
		background-position: 60% 0
	}
}

@media (max-width:767px) {
	.primaryHorizontal-cardsWrapper .primaryHorizontal-wrapper-slash:after {
		background-position: 50%
	}
}

.primaryHorizontal-cardsWrapper .primaryHorizontal-wrapper-slash.active:after {
	position: fixed
}

.primaryHorizontal-cardsWrapper .primaryHorizontal-wrapper-slash.inactive:after {
	display: none
}

.primaryHorizontal-innerWrapper {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-top: 40px
}

.primaryHorizontal-mainContentWrapper {
	width: 100%
}

@media (max-width:767px) {
	.primaryHorizontal-mainContentWrapper {
		padding-bottom: 30px
	}
}

.primaryHorizontal-logo {
	max-width: 350px;
	vertical-align: middle;
	display: inline-block
}

@media (max-width:1024px) {
	.primaryHorizontal-logo {
		max-width: 300px;
		margin-bottom: 30px
	}
}

@media (max-width:767px) {
	.primaryHorizontal-logo {
		max-width: 200px
	}
}

.primaryHorizontal-sideContentWrapper {
	position: relative;
	padding-top: 35px;
	width: 500px
}

.primaryHorizontal-sideContentWrapper:before {
	position: absolute;
	content: "";
	height: 1px;
	width: 50px;
	top: 0;
	left: 0;
	background-color: #fff
}

@media (max-width:1024px) {
	.primaryHorizontal-sideContentWrapper {
		margin-left: auto;
		margin-right: auto;
		width: auto
	}
	.primaryHorizontal-sideContentWrapper:before {
		left: 50%;
		transform: translateX(-50%)
	}
}

.primaryHorizontal-description {
	color: #fff;
	white-space: normal;
	padding-bottom: 35px;
	font-size: 35px
}

@media (max-width:1024px) {
	.primaryHorizontal-description {
		font-size: 30px
	}
}

@media (max-width:767px) {
	.primaryHorizontal-description {
		font-size: 18px;
		padding-bottom: 25px
	}
}

.primaryHorizontal-separator {
	width: 100%;
	padding-bottom: 30px
}

@media (max-width:767px) {
	.logo {
		width: 100%;
	}
	.primaryHorizontal-separator {
		padding-bottom: 55px
	}
}

.loginPage-wrapper {
	background-position: 50%;
	min-height: 100vh;
	position: relative;
	padding-bottom: 150px
}

.loginPage-gradient,
.loginPage-wrapper {
	background-size: cover;
	background-repeat: no-repeat
}

.loginPage-gradient {
	padding-top: 30px;
	background-image: linear-gradient(0deg, #000, transparent), url("http://d33wubrfki0l68.cloudfront.net/c2506ded554f57bf4d9a249246e949f72f9a95b3/9cabf/images/slash.png");
	background-position: 100% 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

@media (max-width:767px) {
	.loginPage-gradient {
		padding-top: 0
	}
}

.loginPage-navWrapper {
	position: relative;
	z-index: 2;
	padding-top: 100px
}

@media (max-width:767px) {
	.loginPage-navWrapper {
		padding-top: 0
	}
}

.loginPage-footer {
	position: absolute;
	bottom: 65px;
	left: 0;
	right: 0
}

.secondaryVerticalCard {
	background: #fff;
	width: 500px;
	margin-left: auto;
	margin-right: auto
}

.secondaryVerticalCard-inputContainer {
	padding: 100px 75px 50px
}

@media (max-width:767px) {
	.secondaryVerticalCard {
		width: 75%;
		background: none
	}
	.secondaryVerticalCard-logo--colour {
		display: none
	}
	.secondaryVerticalCard-inputContainer {
		padding: 0 0 20px
	}
}

@media (max-width:600px) {
	.secondaryVerticalCard {
		width: 100%
	}
}

@media (max-width:767px) {
	.reportSection-title {
		font-size: 28px
	}
}

.reportRow-heading {
	position: relative;
	font-size: 26px
}

@media (max-width:767px) {
	.reportRow-heading {
		font-size: 22px
	}
}

@media (max-width:600px) {
	.reportRow-heading {
		margin-bottom: 20px;
		display: inline-block
	}
}

.reportRow-heading:after {
	content: "";
	background-image: url("http://d33wubrfki0l68.cloudfront.net/06e0c669a9aae7d7b362a2c01cbae0ae51b60d8d/bf6b9/images/pdf-icon.svg");
	background-position: 50%;
	background-repeat: no-repeat;
	height: 30px;
	width: 20px;
	background-size: 20px 30px;
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	right: -30px
}

.reportRow-link {
	color: #292bcc;
	font-family: SharpSansDispNo1-Bold
}

.reportRow-link:not(:last-of-type) {
	border-right: 1px solid #979797;
	margin-right: 10px;
	padding-right: 10px
}

.reportRow-hr {
	background-color: #979797
}

/*! * Theme Name: wp-boilerplate * Version: 1.0 */

html {
	-webkit-font-smoothing: antialiased !important;
	overflow-y: scroll
}

@font-face {
	font-family: Caslon224Std-Bold;
	src: url("http://d33wubrfki0l68.cloudfront.net/1cb71c7d7896fcf0f2dfc73bf93dbd48f7db2b8b/e739f/fonts/34ac31_0_0.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/1cb71c7d7896fcf0f2dfc73bf93dbd48f7db2b8b/e739f/fonts/34ac31_0_0.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/bcf114fdbd51c5ba18169aa4206a07b836823cd7/60dcb/fonts/34ac31_0_0.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/32bb08009feef13011c12117e7a1012f1846ec9c/61fe2/fonts/34ac31_0_0.woff") format("woff"), url("http://d33wubrfki0l68.cloudfront.net/0b930454128cd38e40d92dcc9ae06147c765b2a3/11032/fonts/34ac31_0_0.ttf") format("truetype")
}

@font-face {
	font-family: Caslon224Std-BoldItalic;
	src: url("http://d33wubrfki0l68.cloudfront.net/0469677309452a291ca2f0499e4e4384c069ac29/6d20b/fonts/34ac31_a_0.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/0469677309452a291ca2f0499e4e4384c069ac29/6d20b/fonts/34ac31_a_0.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/2f2984e2993b689f49f9d88838fb35bc2e1a60c9/bf52e/fonts/34ac31_a_0.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/4814491e6c8227fd9c9bb98dff2eb09c979f95bf/25bc8/fonts/34ac31_a_0.woff") format("woff"), url("http://d33wubrfki0l68.cloudfront.net/a82fb20eac8ca71a2451a172769d8c24dec2774f/8fbb6/fonts/34ac31_a_0.ttf") format("truetype")
}

@font-face {
	font-family: ProximaNova-Regular;
	src: url("http://d33wubrfki0l68.cloudfront.net/0590dbd7ea4a9502fcf2e0b63b0e030440b216bc/26a8f/fonts/34ac31_7_0.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/0590dbd7ea4a9502fcf2e0b63b0e030440b216bc/26a8f/fonts/34ac31_7_0.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/7cf371e6593150ef9d9a02d6873d30c0bd5da3b9/21b09/fonts/34ac31_7_0.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/d586eaae6077ff214b9953e3a738c6ab7dacb8ff/bcea6/fonts/34ac31_7_0.woff") format("woff"), url("http://d33wubrfki0l68.cloudfront.net/d078b598ffef61fba80da9561e8627667761d6d1/2ae68/fonts/34ac31_7_0.ttf") format("truetype")
}

@font-face {
	font-family: ProximaNova-RegularIt;
	src: url("http://d33wubrfki0l68.cloudfront.net/53c5107b4615ec5c1b2bb8a4f013fae730179319/9394a/fonts/34ac31_8_0.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/53c5107b4615ec5c1b2bb8a4f013fae730179319/9394a/fonts/34ac31_8_0.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/73b056399d908ef522f19ebfcc4d9c50b2890aed/052b1/fonts/34ac31_8_0.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/fbdb68993c2ac6686f227f5d2f712093c4a12951/f3b30/fonts/34ac31_8_0.woff") format("woff"), url("http://d33wubrfki0l68.cloudfront.net/73a7b414be4f6d86f7a292104a2f9ddcb9d7adb9/d547f/fonts/34ac31_8_0.ttf") format("truetype")
}

@font-face {
	font-family: ProximaNova-Semibold;
	src: url("http://d33wubrfki0l68.cloudfront.net/2e69c8f3957a0d46c8a9e63b62b735c38f934ae2/be008/fonts/34ac31_9_0.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/2e69c8f3957a0d46c8a9e63b62b735c38f934ae2/be008/fonts/34ac31_9_0.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/0ede5ca31cadb8476b8e29688fb9d75b6a16126e/b1a74/fonts/34ac31_9_0.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/ffa062efab464a60b962d4194b27c1cfe9a1e02a/ce901/fonts/34ac31_9_0.woff") format("woff"), url("http://d33wubrfki0l68.cloudfront.net/be54a7cc0fa780eef7eb27cddadaa5d9365fa9fa/d8f5b/fonts/34ac31_9_0.ttf") format("truetype")
}

@font-face {
	font-family: SharpSansDispNo1-Bold;
	src: url("http://d33wubrfki0l68.cloudfront.net/ef35983948510a38e7098450b2803f7c94017807/702f1/fonts/sharpsansdispno1-bold.eot");
	src: url("http://d33wubrfki0l68.cloudfront.net/ef35983948510a38e7098450b2803f7c94017807/702f1/fonts/sharpsansdispno1-bold.eot#iefix") format("embedded-opentype"), url("http://d33wubrfki0l68.cloudfront.net/49afbe139c8e25a0fde9ab067453722f3c30d5fc/af4be/fonts/sharpsansdispno1-bold.woff2") format("woff2"), url("http://d33wubrfki0l68.cloudfront.net/db7e43e6b394fbb5c910bed802419b8012e59339/48ec3/fonts/sharpsansdispno1-bold.woff") format("woff")
}

*,
:after,
:before {
	box-sizing: border-box
}

.clearfix:after {
	content: "";
	display: table;
	clear: both
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.grid {
	font-size: 0;
	margin-left: -40px
}

.grid>* {
	padding-left: 40px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	font-size: 16px
}

.grid--middle>* {
	vertical-align: middle
}

.grid--center {
	text-align: center
}

.grid--full {
	margin-left: 0
}

.grid--full>* {
	padding-left: 0;
	padding-right: 0
}

.grid--narrow {
	margin-left: -13.33333px
}

.grid--narrow>* {
	padding-left: 13.33333px;
	padding-right: 13.33333px
}

.grid--rev {
	direction: rtl
}

.grid--rev>* {
	direction: ltr
}

.grid-1of1 {
	width: 100%
}

.grid-1of2 {
	width: 50%
}

.grid-1of3 {
	width: 33.33333%
}

.grid-1of4 {
	width: 25%
}

.grid-2of3 {
	width: 66.66667%
}

.grid-1of8 {
	width: 12.5%
}

@media (max-width:1024px) {
	.grid-1of1--portable {
		width: 100%
	}
}

@media (max-width:1024px) {
	.grid-1of2--portable {
		width: 50%
	}
}

@media (max-width:1024px) {
	.grid-1of3--portable {
		width: 33.33333%
	}
}

@media (max-width:767px) {
	.grid-1of1--ipad {
		width: 100%
	}
}

@media (max-width:767px) {
	.grid-1of2--ipad {
		width: 50%
	}
}

@media (max-width:600px) {
	.grid-1of1--phablet {
		width: 100%
	}
}

@media (max-width:480px) {
	.grid-1of1--palm {
		width: 100%
	}
}

.combo {
	display: table;
	width: 100%
}

.combo>.combo-first {
	width: 0;
	white-space: nowrap;
	padding-right: 40px
}

.combo>.combo-last {
	width: 100%
}

.combo-first,
.combo-last {
	display: table-cell;
	vertical-align: top
}

.combo--rev>.combo-first {
	width: 100%;
	white-space: normal;
	padding-right: 0
}

.combo--rev>.combo-last {
	width: 0;
	white-space: nowrap;
	padding-left: 40px
}

.combo--middle>.combo-first,
.combo--middle>.combo-last {
	vertical-align: middle
}

.combo--full>.combo-first,
.combo--full>.combo-last {
	padding-left: 0;
	padding-right: 0
}

@media (max-width:1024px) {
	.combo--stack--portable {
		display: block
	}
	.combo--stack--portable>.combo-first,
	.combo--stack--portable>.combo-last {
		display: block;
		width: auto;
		padding: 0
	}
}

@media (max-width:767px) {
	.combo--stack--ipad {
		display: block
	}
	.combo--stack--ipad>.combo-first,
	.combo--stack--ipad>.combo-last {
		display: block;
		width: auto;
		padding: 0
	}
}

@media (max-width:600px) {
	.combo--stack--phablet {
		display: block
	}
	.combo--stack--phablet>.combo-first,
	.combo--stack--phablet>.combo-last {
		display: block;
		width: auto;
		padding: 0
	}
}

@media (max-width:480px) {
	.combo--stack--palm {
		display: block
	}
	.combo--stack--palm>.combo-first,
	.combo--stack--palm>.combo-last {
		display: block;
		width: auto;
		padding: 0
	}
}

h1 {
	font-family: Caslon224Std-Bold;
	font-size: 130px
}

@media (max-width:1366px) {
	h1 {
		font-size: 100px
	}
}

@media (max-width:1024px) {
	h1 {
		font-size: 75px
	}
}

@media (max-width:767px) {
	h1 {
		font-size: 36px
	}
}

h2 {
	font-family: Caslon224Std-Bold;
	font-size: 60px;
	line-height: 1.1
}

@media (max-width:1024px) {
	h2 {
		font-size: 60px
	}
}

@media (max-width:767px) {
	h2 {
		font-size: 30px
	}
}

h3 {
	font-family: Caslon224Std-Bold;
	font-size: 64px
}

@media (max-width:1024px) {
	h3 {
		font-size: 40px
	}
}

@media (max-width:767px) {
	h3 {
		font-size: 25px
	}
}

h4 {
	font-family: Caslon224Std-Bold;
	font-size: 40px;
	line-height: 1.3
}

@media (max-width:1024px) {
	h4 {
		font-size: 35px
	}
}

@media (max-width:767px) {
	h4 {
		font-size: 25px
	}
}

h5 {
	font-family: ProximaNova-Semibold;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: .5px
}

@media (max-width:1024px) {
	h5 {
		font-size: 15px
	}
}

@media (max-width:767px) {
	h5 {
		font-size: 16px
	}
}

h6 {
	font-family: SharpSansDispNo1-Bold;
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase
}

@media (max-width:1024px) {
	h6 {
		font-size: 16px
	}
}

@media (max-width:767px) {
	h6 {
		font-size: 12px
	}
}

a {
	display: inline-block;
	font-family: ProximaNova-Semibold;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1.2px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all .3s ease
}

a:focus,
a:hover {
	border-bottom: 1px solid #fff
}

p {
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1.85;
	color: #5b5b5b
}

@media (max-width:1024px) {
	p {
		font-size: 16px
	}
}

@media (max-width:767px) {
	p {
		font-size: 16px
	}
}

hr {
	margin: 0;
	border: none;
	height: 1px;
	background-color: #fff
}

em {
	font-family: Caslon224Std-BoldItalic !important
}

.u-paddingVerticalXxlarge {
	padding-top: 140px;
	padding-bottom: 140px
}

@media (max-width:767px) {
	.u-paddingVerticalXxxlarge--ipad {
		padding-top: 200px;
		padding-bottom: 200px
	}
}

.u-paddingVerticalXlarge {
	padding-top: 80px;
	padding-bottom: 80px
}

@media (max-width:767px) {
	.u-paddingVerticalLarge--ipad {
		padding-top: 60px;
		padding-bottom: 60px
	}
}

.u-paddingVerticalMedium {
	padding-top: 40px;
	padding-bottom: 40px
}

.u-marginVerticalXxlarge {
	margin-top: 140px;
	margin-bottom: 140px
}

.u-marginVerticalLarge {
	margin-top: 60px;
	margin-bottom: 60px
}

.u-marginVerticalMedium {
	margin-top: 40px;
	margin-bottom: 40px
}

.u-marginVerticalSmall {
	margin-top: 20px;
	margin-bottom: 20px
}

.u-marginVerticalNone {
	margin-top: 0;
	margin-bottom: 0
}

@media (max-width:767px) {
	.u-marginVerticalMedium--ipad {
		margin-top: 40px;
		margin-bottom: 40px
	}
}

.u-paddingAllSmall {
	padding: 20px
}

.u-marginAllLarge {
	margin: 60px
}

.u-paddingTopSmall {
	padding-top: 20px
}

.u-paddingTopXxlarge {
	padding-top: 140px
}

.u-paddingTopLarge {
	padding-top: 60px
}

.u-marginTopMedium {
	margin-top: 40px
}

.u-marginTopLarge {
	margin-top: 60px
}

.u-marginTopXlarge {
	margin-top: 80px
}

.u-marginTopXxlarge {
	margin-top: 140px
}

@media (max-width:767px) {
	.u-marginTopMedium--ipad {
		margin-top: 40px
	}
}

@media (max-width:600px) {
	.u-marginTopMedium--phablet {
		margin-top: 40px
	}
}

@media (max-width:600px) {
	.u-marginTopLarge--phablet {
		margin-top: 60px
	}
}

.u-paddingBottomXsmall {
	padding-bottom: 10px
}

.u-marginBottomXxsmall {
	margin-bottom: 5px
}

.u-marginBottomXsmall {
	margin-bottom: 10px
}

.u-marginBottomSmall {
	margin-bottom: 20px
}

.u-marginBottomMedium {
	margin-bottom: 40px
}

.u-marginBottomLarge {
	margin-bottom: 60px
}

.u-marginBottomXlarge {
	margin-bottom: 80px
}

.u-marginBottomXxlarge {
	margin-bottom: 140px
}

@media (max-width:1024px) {
	.u-marginBottomMedium--portable {
		margin-bottom: 40px
	}
}

@media (max-width:767px) {
	.u-marginBottomSmall--ipad {
		margin-bottom: 20px
	}
}

@media (max-width:767px) {
	.u-marginBottomMedium--ipad {
		margin-bottom: 40px
	}
}

@media (max-width:767px) {
	.u-marginBottomLarge--ipad {
		margin-bottom: 60px
	}
}

@media (max-width:767px) {
	.u-marginBottomXxlarge--ipad {
		margin-bottom: 140px
	}
}

@media (max-width:600px) {
	.u-marginBottomMedium--phablet {
		margin-bottom: 40px
	}
}

@media (max-width:600px) {
	.u-marginBottomSmall--phablet {
		margin-bottom: 20px
	}
}

.u-marginRightMedium {
	margin-right: 40px
}

@media (max-width:1024px) {
	.u-marginRightMedium--portable {
		margin-right: 40px
	}
}

.u-italic {
	font-family: Caslon224Std-BoldItalic !important
}

.u-bold {
	font-weight: 600 !important
}

.u-fontSizeZero {
	font-size: 0 !important
}

.u-block {
	display: block !important
}

@media (max-width:600px) {
	.u-block--phablet {
		display: block !important
	}
}

.u-inlineBlock {
	display: inline-block !important
}

.u-center {
	margin-right: auto !important;
	margin-left: auto !important
}

.u-alignCenter {
	text-align: center !important
}

.u-alignRight {
	text-align: right
}

.u-alignLeft {
	text-align: left !important
}

@media (max-width:767px) {
	.u-alignCenter--ipad {
		text-align: center !important
	}
}

@media (max-width:600px) {
	.u-alignCenter--phablet {
		text-align: center !important
	}
}

@media (max-width:600px) {
	.u-alignLeft--phablet {
		text-align: left
	}
}

.u-verticalAlignMiddle {
	vertical-align: middle !important
}

.u-autoWidth {
	width: auto !important
}

.u-widthFull {
	width: 100% !important
}

.u-widthHalf {
	width: 50%
}

@media (max-width:600px) {
	.u-widthFull--phablet {
		width: 100% !important
	}
}

.u-relative {
	position: relative
}

.u-absolute {
	position: absolute
}

.u-visibilityHidden {
	visibility: hidden
}

.u-flex {
	display: flex
}

.u-flexJustifyContentBetween {
	justify-content: space-between !important
}

.u-flexAlignContentBetween {
	align-content: space-between !important
}

.u-hide {
	display: none !important
}

@media (max-width:1024px) {
	.u-hide--portable {
		display: none !important
	}
}

@media (max-width:767px) {
	.u-hide--ipad {
		display: none !important
	}
}

@media (max-width:600px) {
	.u-hide--phablet {
		display: none !important
	}
}

@media (max-width:600px) {
	.u-marginRightNone--phablet {
		margin-right: 0 !important
	}
}

.u-borderBottomBlack {
	border-bottom: 1px solid #000
}

input {
	outline: none
}

.form .input,
.form .input-label {
	font-family: ProximaNova-Regular;
	font-size: 16px;
	line-height: 1.6;
	color: #909090
}

.form .input-label {
	left: 0;
	top: 0;
	transition: top .5s;
	position: absolute
}

.form .input-label--filled {
	color: #3138cf;
	top: -30px
}

.form .input-label--error {
	color: #d0021b
}

@media (max-width:767px) {
	.form .input-label {
		color: #fff
	}
}

.form .input {
	border: none;
	border-bottom: 1px solid #909090;
	width: 100%
}

.form .input--filled {
	border-bottom: 1px solid #3138cf
}

.form .input--error {
	border-bottom: 1px solid #d0021b;
	color: #d0021b
}

.form .input:focus+.input-label {
	top: -30px
}

@media (max-width:767px) {
	.form .input {
		background: none;
		color: #fff;
		border-bottom: 1px solid #fff
	}
}

.form .input-errorMessage {
	opacity: 0;
	color: #d0021b;
	display: inline-block
}

.form .input-errorMessage--active {
	animation-name: fadeIn;
	animation-fill-mode: forwards;
	animation-duration: .5s
}

@media (max-width:767px) {
	.form .input-errorMessage {
		color: #fff;
		border-left: 1px solid #d0021b;
		padding-left: 10px
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	width: 90%
}

.container--narrow {
	max-width: 900px
}

.loadingScreen-wrapper,
.loadingScreen-wrapper--loaded {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 9000
}

.loadingScreen-wrapper--loaded {
	animation-name: loadingFadeOut;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: .3s
}

@keyframes loadingFadeOut {
	0% {
		opacity: 1
	}
	40% {
		opacity: .9
	}
	99% {
		opacity: 0
	}
	to {
		opacity: 0;
		z-index: -1
	}
}

.loadingScreen-contentWrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 125px;
	height: 125px
}

.loadingScreen-logo {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9900
}

.loadingScreen-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3138cf;
	border-radius: 50%;
	animation: spin 2s linear infinite
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

.primaryHorizontal-wrapper:before {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), #000);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}